@import 'normalize';
@import 'scut';
@import 'compass/css3/box-sizing';
@import 'compass/css3/images';
@import 'compass/css3/border-radius';
@import 'compass/css3/text-shadow';
@import 'compass/css3/box-shadow';
@import 'compass/css3/hyphenation';

* { @include box-sizing(border-box); }

* {
  position:            relative;
}

$font-color:           lighten(#000, 30%);
$green:                #23A38F;
$red:                  #F0563D;

html,body {
  height:              100%;
}

body {
  overflow-x:          hidden;
  font-family:         'Lato', sans-serif;
  font-weight:         300;
  color:               $font-color;
}

.special-font {
  font-family:         'Volkhov', serif;
}

.index header {
  color:               darken($green, 20%);

  @include background(image-url("congruent_pentagon.png"));

  hr.green-line {
    border-width:      0px;
    border-bottom:     1px solid $green;

    @include scut-relative(-52px n n n);
  }
  .bold {
    font-weight:       300;
    color:             black;
  }
  .title {
    text-align:        justify;

    @extend h1;
    @extend .bold;

    @include hyphens(auto);
  }
  p {
    font-size:         17px;
  }
  h2{
    font-weight:       300;
  }
  .white-back {
    width:             85%;
    background-color:  rgba(255,255,255,0.5);

    @include scut-center-block;
    @include box-shadow(0px 0px 4px $green);
  }
  .logo-container {
    left:              13.7%;
    width:             240px;
    background-color:  White;

    @include scut-padding(60px n 10px n);
    @include border-bottom-radius(3px);
    @include box-shadow(0px 0px 1px $green);
  }
  .tagline {
    @include scut-absolute(94px 16% n n);
  }
  .display-logo {
    display:           block;
    width:             200px;

    @include scut-center-block;
  }

}

$gradient-color:     rgba(11,254,216,0.5);
.design2 nav, .design2 header {
  color:               lighten($green, 45%);
}
.design2 header {
  min-height:          85%;
  @include background(
    linear-gradient($gradient-color, $gradient-color),
    image-url('dark-back.png')
  );
  @include box-shadow(1px 1px 5px lighten(#000,30%));

  .display-logo {
    height:            90px;
    background-color:  White;
    z-index:           2;

    @include scut-padding(40px 50px 30px 50px);
    @include box-sizing(content-box);
    @include border-bottom-radius(3px);
  }
  hr.green-line {
    top:               -53px;
    left:              -39.4%;
    width:             223px;
    z-index:           2;
    border-width:      0px;
    border-bottom:     1px solid $green;
    display: none;
  }
  .bold {
    font-weight:       300;
    color:             White;
  }
  .title {
    font-size:         26px;
    @extend .bold;

    @include hyphens(auto);
  }
  p {
    font-size:         17px;
    padding:           0px;
  }
  h2{
    font-weight:       300;
  }
  .grid-40-edited {
    width:             43%;
    margin-left:       2%;
  }
  .graphic {
    max-width:         116%;
    margin-top:        10%;
  }
}
.design2 nav {
  @include background(
    linear-gradient($gradient-color, $gradient-color),
    image-url('dark-back.png')
  );
  width:               100%;
  position:            fixed;
  top:                 0px;
  height:              59px;
  border-bottom:       1px solid White;
  text-align:          right;

  ul {
    margin-top:        20px;
    @include scut-list-inline(20px, false);
  }
  a {
    text-decoration:   none;
    color:             inherit;
    &:hover {
      color:           white;
      text-decoration: underline;
    }
  }
}
// ----------------------------------------------------------------------------
//                             UTILITIES
// ----------------------------------------------------------------------------
.underline {
  text-decoration:     underline;
}
.content-center {
  text-align:          center;
}
.float-right {
  float:               right;
}
