@import 'normalize';
@import 'scut';
@import 'compass/css3/box-sizing';
@import 'compass/css3/images';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';

* { @include box-sizing(border-box); }

* {
  position:            relative;
}

$font-color:           lighten(#000, 30%);
$green:                #23A38F;
$red:                  #F0563D;

html,body {
  height:              100%;
}

body {
  overflow-x:          hidden;
  font-family:         'Lato', sans-serif;
  font-weight:         300;
  color:               $font-color;
}

.special-font {
  font-family:         'Volkhov', serif;
}

// .grid-container.full-width {
//   max-width:           100%;
// }

header {
  //text-align:          center;
  height:              85%;
  color:               darken($green, 20%);
  @include background(image-url("congruent_pentagon.png"));
  @include scut-padding(5% n n n);

  hr.green-line {
    width:             85%;
    border-width:      0px;
    border-bottom:     1px solid $green;

    @include scut-relative(-47px n n n);
  }
  p,h1 {
    text-align:        left;
  }
  p,h1,h2{
    font-weight:       300;
  }
  b {
    font-weight:       normal;
  }
  .white-back {
    height:            100%;
    width:             85%;
    background-color:  rgba(255,255,255,0.5);

    @include scut-absolute(0 n n 7.5%);
    @include box-shadow(0px 0px 4px $green);
  }
  .tagline {
    @include scut-absolute(94px 18.4% n n);
    //@extend .special-font;
  }
}

.display-logo {
  width:               200px;
  left:                18%;
  // padding:             25px;
  // background-color:    White;
  //
  // @include box-sizing(content-box);
  // @include border-radius(5px);
  // @include box-shadow(1px 1px 3px darken($green, 20%));
}


// ----------------------------------------------------------------------------
//                             UTILITIES
// ----------------------------------------------------------------------------
.underline {
  text-decoration:     underline;
}
.content-center {
  text-align:          center;
}
.bold {
  font-weight:         400;
}
